@import "mixins"

#home
@include center
display: flex
flex-direction: column
width: min(500px, 70%)
align-content: space-between

button
    padding-top: 10px
    padding-bottom: 10px
    font-size: 30pt
