@import "mixins"

.login
    @include center
    display: flex
    flex-direction: column
    width: min(35rem, 70%)
    align-content: space-between

    input
        &:first-child
            margin-bottom: 1.5rem
            margin-top: 0
            height: 2rem
            border-radius: 1rem
            -moz-border-radius: 1rem
            -webkit-border-radius: 1rem
            padding: 0.5rem

    input:nth-child(2)
        height: 2rem
        width: 30%
        margin: auto

    p
        color: red
        text-align: center
        margin-top: 1rem
