[package]
name = "writer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
yew = { git = "https://github.com/yewstack/yew", features = ["csr"] }
yew-router = { git = "https://github.com/yewstack/yew" }
gloo = { version = "~0.7", features = ["futures"] }
common = { version = "=0.2", path = "../common" }
web-sys = { version = "~0.3" }
ron = "~0.7"
serde = { version = "~1.0", features = ["derive"] }
wasm-bindgen-futures = "~0.4"
web-log = "~1.0"
bson = { version = "~2.0", path = "./bson-rust", features = ["js"] }

[dev-dependencies]
wasm-bindgen-test = "~0.3"

[build-dependencies]
dotenvy = "~0.15"

[dependencies.getrandom]
features = ["js"]
version = "~0.2"

[dependencies.uuid]
version = "~1.1"
features = ["v4", "js"]
